.body-content {
    margin: 0;
    padding: 0;
    background: url(assets/background2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.image-logo {
    position: absolute;
    top: -6px;
}

header {
    position: fixed;
    top: 0;
    padding: 5px;
    align-items: center;
    text-align: center;
    background: #121212;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.yes-or-no {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes-or-no .yes {
    font-weight: bold;
    margin-right: 5px;
    background: rgb(132, 207, 132);
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(156, 156, 206);
    border-radius: 8px;
    padding: 5px;
    text-transform: uppercase;
    cursor: url(assets/yes.png), auto !important;
}

.yes-or-no .no {
    margin-left: 5px;
    font-weight: bold;
    background: rgb(216, 106, 106);
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid rgb(156, 156, 206);
    padding: 5px;
    text-transform: uppercase;
    cursor: url(assets/no.png), auto !important;
}

h1 {
    color: black;
    background: url(assets/backgroundTxt.png);
    background-size: cover;
    border-radius: 10px;
    margin-top: 180px !important;
}

.imagem-escondida {
    height: 200px;
    width: 90px;
    border-radius: 30px;
    display:none;
    margin-bottom: 20px;
}

.image-invite {
    width: 800px;
}

.image-modal {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.modal-content {
    background: azure;
}

.modal-content2, .modal-body2, .modal-footer2 {
    width: 900px !important;
}

.modal-body {
    color: green;
    font-weight: 700;
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.modal-header {
    align-self: center;
    display: inline !important;
    text-align: center;
}

.modal.show .modal-dialog {
    place-content: center;
}

.modal-content2 {
    background: transparent !important;
    border: none  !important;
}

.modal-footer2 {
    border: none !important;
    place-content: center !important;
}

.modal-title {
    align-self: center;
    padding-left: 15px;
    margin-top: 0px;
}

.btn {
    width: 80px;
}

.audio-content {
    text-align: end;
    width: 20%;
    position: absolute;
    top: 5px;
    right: 5px;
}

.audio {
    width: 250px;
}